/*------Styles de base------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/*---- Les @keyframes -----*/
/*--@keyframes pour animer les coeurs----*/
@keyframes heart-full {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*--- @keyframes pour animer les listes de plats---*/
@keyframes loading-list {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*----- @keyframes pour le loading spinner----*/
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-2 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes loader-4 {
  0% {
    background-color: #99e2d0;
  }
  90% {
    transform: scale(0);
  }
  93% {
    transform: scale(2);
    border: 5px solid #ff79da;
    background-color: #ff79da;
  }
  94% {
    transform: scale(1.5);
    border: 5px solid #9356dc;
    background-color: #9356dc;
  }
  95% {
    transform: scale(2);
    border: 5px solid #99e2d0;
    background-color: #99e2d0;
  }
  96% {
    transform: scale(1.5);
    border: 5px solid #9356dc;
    background-color: #9356dc;
  }
  97% {
    transform: scale(6);
    border: 5px solid #9356dc;
    background-color: #9356dc;
  }
  98% {
    transform: scale(1.5);
    border: 5px solid #ff79da;
    background-color: #ff79da;
  }
  99% {
    transform: scale(4);
    border: 5px solid #99e2d0;
    background-color: #99e2d0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-0 {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*----Style sur le header-----*/
.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--fixed {
  position: fixed;
  width: 375px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.header__link-back {
  position: absolute;
  left: 45px;
  display: none;
}
.header__link-back--visible {
  display: inline-block;
}

/*------- Style sur les composants -----*/
.btn {
  margin: 20px 0;
  padding: 15px 20px;
  color: #fff;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#d7c0f2, #ff79da);
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
  transition: opacity 250ms;
}

.heart {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  left: 280px;
  bottom: 20px;
}
.heart .far {
  font-size: 2rem;
}
.heart__visible {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.heart__visible:hover + .heart__invisible {
  animation: heart-full 0.5s linear both;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  background-repeat: no-repeat;
}
.heart__visible:active + .heart__invisible {
  animation: heart-full 0.5s linear both;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}
.heart__visible:hover {
  cursor: pointer;
  background-color: #9356dc;
  background-image: linear-gradient(15deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart__invisible {
  position: relative;
  color: #0000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  left: -32px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transform-origin: 50% bottom;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/*----- Style sur le loading spinner----*/
.load {
  cursor: progress;
  position: absolute;
  z-index: 10001;
  width: 100%;
  height: 100%;
  animation: loader-0 3s ease-in-out both;
}

.loading {
  display: flex;
  justify-content: center;
  height: max-content;
}
.loading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: #f2f2f2;
  opacity: 1;
}
.loading::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 100px;
  height: 100px;
  top: 15%;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}

.loading-2 {
  display: flex;
  justify-content: center;
}
.loading-2::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 85px;
  height: 85px;
  top: 15.4%;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  border-radius: 50%;
  animation: loader-2 0.6s linear infinite;
}

.loading-3 {
  display: flex;
  justify-content: center;
}
.loading-3::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 70px;
  height: 70px;
  top: 15.7%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}

.loading-4 {
  display: flex;
  justify-content: center;
}
.loading-4::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 50px;
  height: 50px;
  top: 16.2%;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: loader-4 2.6s infinite alternate;
}

/*-----Style sur le bloc localisation------*/
.location {
  height: 50px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #dadada;
}
.location input {
  background-color: #e6e6e6;
  border: none;
  text-align: center;
  font-size: 1rem;
}
.location input:focus {
  outline: none;
  border: 2px solid #9356dc;
  height: 30px;
  border-radius: 10px;
}
.location input:focus::placeholder {
  opacity: 0;
}
.location input::placeholder {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/*-----Style sur le bloc presentation------*/
.presentation {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.presentation h1 {
  width: 80%;
  margin: 5px 0;
  text-align: center;
}
.presentation p {
  width: 80%;
  margin: 5px 0;
  text-align: center;
  font-size: 1.06rem;
}

/*-----Style sur le bloc fonctionnement------*/
.operation-box {
  padding: 30px 0;
}
.operation-box h2 {
  margin: 20px 0;
  padding-left: 25px;
}
.operation-box .operation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operation-box .operation__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  position: relative;
}
.operation-box .operation__step span {
  padding: 5px 10px;
  border-radius: 100%;
  background-color: #9356dc;
  position: absolute;
  top: 35px;
  left: -10px;
  z-index: 1;
}
.operation-box .operation--name {
  background-color: #f2f2f2;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.operation-box .operation--name .fas {
  font-size: 1.3rem;
}
.operation-box .operation--name .fa-store {
  color: #9356dc;
}

/*-----Style sur le bloc restaurant------*/
#restaurant-box {
  background-color: #f2f2f2;
  padding: 20px 15px;
}
#restaurant-box .restaurant {
  margin: 20px 0;
  height: 250px;
  width: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px #fff;
  box-shadow: 0px 0px 3px 1px #fff;
  border-radius: 20px;
  position: relative;
}
#restaurant-box .restaurant figure {
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
}
#restaurant-box .restaurant figure figcaption {
  height: 30%;
  padding-right: 20px;
  padding-left: 20px;
}
#restaurant-box .restaurant figure figcaption h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
#restaurant-box .restaurant figure:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 3px 1px #fff;
  box-shadow: 0px 0px 4px 3px #99e2d0;
}
#restaurant-box .restaurant__img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center -50px;
}
#restaurant-box .restaurant__img--position {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center -155px;
}
#restaurant-box .restaurant__new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px;
  background-color: #99e2d0;
  font-weight: bold;
  color: #2c9c81;
  font-size: 0.8rem;
}

.banner {
  height: auto;
  width: 375px;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 60px;
}
.banner.banner--position {
  top: -60px;
}

.menu {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 265px;
  box-sizing: border-box;
}
.menu__heading {
  width: 100%;
  margin: 15px 0;
  position: relative;
}
.menu__heading--font {
  font-family: "Shrikhand";
  font-weight: 200;
  font-size: 1.8rem;
}
.menu__heading .far {
  font-size: 1.7rem;
}
.menu__heart--position {
  top: 10px;
  left: 35px;
}
.menu .heart__invisible {
  left: 8px;
}
.menu .list {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.menu .list__heading {
  margin: 10px 0 10px 10px;
}
.menu .list__heading--font {
  font-weight: initial;
  font-size: 1rem;
}
.menu .list__heading--underline {
  height: 2px;
  width: 35px;
  background-color: #99e2d0;
  padding-left: 15px;
  margin-top: 5px;
}
.menu .list__dish {
  margin: 7px 0;
  height: 70px;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 2px #aaaaaa;
  box-shadow: 0px 0px 3px 1px #d3d3d3;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
.menu .list__dish:nth-child(2) {
  animation: 1s both loading-list;
}
.menu .list__dish:nth-child(3) {
  animation: 1s 0.1s both loading-list;
}
.menu .list__dish:nth-child(4) {
  animation: 1s 0.15s both loading-list;
}
.menu .list__dish:nth-child(5) {
  animation: 1s 0.2s both loading-list;
}
.menu .list__dish--description {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu .list__dish--description h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .list__dish--description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
}
.menu .list__dish--cost {
  margin-top: 38px;
  margin-right: 15px;
  padding: 0 15px;
}
.menu .list__dish--check {
  color: #fff;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  display: flex;
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  margin-right: -75px;
  transition-duration: 0.7s;
}
.menu .list__dish:hover > .list__dish--check {
  margin-right: -5px;
}
.menu .list__dish:hover {
  cursor: pointer;
}
.menu .list__dish:hover .fa-check-circle {
  transition: all 0.3s 0.3s;
  transform: rotate(360deg);
}
.menu .list.starters, .menu .list.specials, .menu .list.dessert {
  padding-bottom: 30px;
}
.menu__order {
  padding: 15px 40px;
  margin-bottom: 40px;
}

footer {
  padding: 40px 40px;
  background-color: #333333;
  color: #fff;
}
footer h4 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: "Shrikhand";
  font-weight: 200;
}
footer li {
  margin: 10px 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #9356dc;
}
footer .fa-utensils {
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
