/*------Styles de base------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/*---- Les @keyframes -----*/
/*--@keyframes pour animer les coeurs----*/
@keyframes heart-full {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
/*--- @keyframes pour animer les listes de plats---*/
@keyframes loading-list {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*----- @keyframes pour le loading spinner----*/
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-2 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-4 {
  0% {
    background-color: #99e2d0;
    transform: scale(1);
  }
  30% {
    background-color: #9356dc;
  }
  65% {
    background-color: #ff79da;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-0 {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*----Style sur le header-----*/
.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--fixed {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.header__link-back {
  position: absolute;
  left: 45px;
  display: none;
}
.header__link-back--visible {
  display: inline-block;
}

/*------- Style sur les composants -----*/
.btn {
  margin: 20px 0;
  padding: 15px 20px;
  color: #fff;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#c9abee, #ff79da);
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
  transition: opacity 250ms;
}

.heart {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  /*left: 280px;*/
  right: 15px;
  bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .heart {
    right: -10px;
  }
}
.heart .far {
  font-size: 1.7rem;
}
.heart__visible {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.heart__visible:hover + .heart__invisible {
  animation: heart-full 0.5s linear both;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  font-weight: bold;
  background-repeat: no-repeat;
}
.heart__visible:active + .heart__invisible {
  animation: heart-full 0.5s linear both;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  font-weight: bold;
}
.heart__visible:hover {
  cursor: pointer;
  background-color: #9356dc;
  background-image: linear-gradient(15deg, #ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart__invisible {
  position: relative;
  color: #0000;
  top: 0;
  right: 0;
  bottom: 0;
  left: -27px;
  /*left: -32px;*/
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/*----- Style sur le loading spinner----*/
.load {
  cursor: progress;
  position: absolute;
  z-index: 10001;
  width: 100%;
  height: 100%;
  animation: loader-0 3s linear both;
}

.loading {
  display: flex;
  justify-content: center;
  height: max-content;
}
.loading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background: #f2f2f2;
  opacity: 1;
}
.loading::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 100px;
  height: 100px;
  top: 250px;
  border: 3px solid transparent;
  /* border-top-color: $primary-color;*/
  border-radius: 50%;
  /*animation: loader 0.8s linear infinite;*/
}

.loading-1 {
  display: flex;
  justify-content: center;
}
.loading-1::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 100px;
  height: 100px;
  top: 250px;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  border-left-color: #9356dc;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}

.loading-2 {
  display: flex;
  justify-content: center;
}
.loading-2::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 80px;
  height: 80px;
  top: 260px;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  border-left-color: #ff79da;
  border-bottom-color: #ff79da;
  border-radius: 50%;
  animation: loader-2 0.8s linear infinite;
}

.loading-3 {
  display: flex;
  justify-content: center;
}
.loading-3::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 65px;
  height: 65px;
  top: 267px;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  border-left-color: #99e2d0;
  border-bottom-color: #99e2d0;
  border-radius: 50%;
  animation: loader-2 0.8s linear infinite;
}

.loading-4 {
  display: flex;
  justify-content: center;
}
.loading-4::after {
  content: "";
  position: absolute;
  z-index: 10003;
  width: 45px;
  height: 45px;
  top: 277px;
  border: 3px solid transparent;
  border-radius: 50%;
  animation: loader-4 0.6s infinite alternate;
}

/*-----Style sur le bloc localisation------*/
.location {
  height: 50px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #dadada;
}
.location input {
  background-color: #e6e6e6;
  border: none;
  text-align: center;
  font-size: 1rem;
}
.location input:focus {
  outline: none;
  border: 2px solid #9356dc;
  height: 30px;
  border-radius: 10px;
}
.location input:focus::placeholder {
  opacity: 0;
}
.location input::placeholder {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/*-----Style sur le bloc presentation------*/
.presentation {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.presentation h1 {
  width: 80%;
  margin: 5px 0;
  text-align: center;
}
.presentation p {
  width: 80%;
  margin: 5px 0;
  text-align: center;
  font-size: 1.06rem;
}

/*-----Style sur le bloc fonctionnement------*/
.operation-box {
  padding: 30px 0;
}
.operation-box h2 {
  margin: 20px 0;
  padding-left: 25px;
}
.operation-box .operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .operation-box .operation {
    flex-direction: row;
    justify-content: space-around;
  }
}
.operation-box .operation__step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 75px;
  margin: 10px 0;
  border-radius: 25px;
  position: relative;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 4px 4px 1px #00000045;
  box-shadow: 0px 4px 4px 1px #00000045;
}
.operation-box .operation__step:hover {
  background-color: #fbf3f9;
}
.operation-box .operation__step:hover > .fas {
  color: #9356dc;
}
@media screen and (min-width: 702px) {
  .operation-box .operation__step {
    width: 70%;
    height: 60px;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .operation-box .operation__step {
    width: 25%;
    height: 50px;
  }
}
.operation-box .operation__step span {
  padding: 5px 10px;
  border-radius: 100%;
  color: #fff;
  background-color: #9356dc;
  position: absolute;
  left: -12px;
  z-index: 2;
}
.operation-box .operation__step .fas {
  color: #333333ad;
}
@media screen and (min-width: 1024px) {
  .operation-box .operation__step .fas {
    width: 15%;
    text-align: center;
  }
}
.operation-box .operation__step p {
  width: 70%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .operation-box .operation__step p {
    width: 65%;
  }
}

/*-----Style sur le bloc restaurant------*/
#restaurant-box {
  background-color: #f2f2f2;
  padding: 20px 15px;
}
@media screen and (min-width: 702px) {
  #restaurant-box h2 {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 702px) {
  #restaurant-box .restaurant-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
#restaurant-box .restaurant {
  margin: 20px 0;
  height: 250px;
  width: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px #fff;
  box-shadow: 0px 0px 3px 1px #fff;
  border-radius: 20px;
  position: relative;
}
@media screen and (min-width: 702px) {
  #restaurant-box .restaurant {
    width: 47%;
    margin: 15px 0;
  }
}
@media screen and (min-width: 1024px) {
  #restaurant-box .restaurant {
    width: 23.5%;
    height: 220px;
  }
}
#restaurant-box .restaurant figure {
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
}
#restaurant-box .restaurant figure figcaption {
  padding-right: 20px;
  padding-left: 20px;
}
#restaurant-box .restaurant figure figcaption h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
#restaurant-box .restaurant figure:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 3px 1px #fff;
  box-shadow: 0px 0px 4px 3px #99e2d0;
}
#restaurant-box .restaurant__img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center -50px;
}
@media screen and (min-width: 702px) {
  #restaurant-box .restaurant__img {
    object-position: initial;
  }
}
#restaurant-box .restaurant__img--position {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center -155px;
}
@media screen and (min-width: 702px) {
  #restaurant-box .restaurant__img--position {
    object-position: center -130px;
  }
}
#restaurant-box .restaurant__new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px;
  background-color: #99e2d0;
  font-weight: bold;
  color: #2c9c81;
  font-size: 0.8rem;
}

.banner {
  height: 280px;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 60px;
}

.menu {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 265px;
  box-sizing: border-box;
}
.menu__heading {
  width: 100%;
  margin: 15px 0;
  position: relative;
}
@media screen and (min-width: 702px) {
  .menu__heading {
    display: flex;
    justify-content: center;
  }
}
.menu__heading--font {
  font-family: "Shrikhand";
  font-weight: 200;
  font-size: 1.8rem;
  margin-left: 15px;
}
.menu__heading .far {
  font-size: 1.7rem;
}
@media screen and (min-width: 702px) {
  .menu__heart.heart {
    right: 80px;
    left: auto;
  }
}
.menu__heart--position {
  top: 10px;
  left: 35px;
}
.menu .heart__invisible {
  left: 8px;
}
.menu .big-list {
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .menu .big-list {
    display: flex;
  }
}
.menu .list {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 702px) {
  .menu .list {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu .list {
    width: 33%;
  }
}
.menu .list__heading {
  margin: 10px 0 10px 10px;
}
.menu .list__heading--font {
  font-weight: initial;
  font-size: 1rem;
}
.menu .list__heading--underline {
  height: 2px;
  width: 35px;
  background-color: #99e2d0;
  padding-left: 15px;
  margin-top: 5px;
}
.menu .list__dish {
  margin: 7px 0;
  height: 70px;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 1px #00000045;
  box-shadow: 0px 2px 4px 1px #00000045;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  animation: loading-list 0.8s both;
}
@media screen and (min-width: 702px) {
  .menu .list__dish {
    width: 90%;
  }
}
.menu .list__dish:nth-child(2) {
  animation-delay: 0.2s;
}
.menu .list__dish:nth-child(3) {
  animation-delay: 0.4s;
}
.menu .list__dish:nth-child(4) {
  animation-delay: 0.6s;
}
.menu .list__dish:nth-child(5) {
  animation-delay: 0.8s;
}
.menu .list__dish--description {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu .list__dish--description h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .list__dish--description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
}
.menu .list__dish--cost {
  margin-top: 38px;
  margin-right: 15px;
  padding: 0 15px;
}
.menu .list__dish--check {
  color: #fff;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  display: flex;
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  margin-right: -75px;
  transition-duration: 0.7s;
}
.menu .list__dish--check .fa-check-circle {
  font-size: 1.5rem;
}
.menu .list__dish:hover > .list__dish--check {
  margin-right: -5px;
}
.menu .list__dish:hover {
  cursor: pointer;
}
.menu .list__dish:hover .fa-check-circle {
  transition: all 0.3s 0.3s;
  transform: rotate(360deg);
}
.menu .list.starters, .menu .list.specials, .menu .list.dessert {
  padding-bottom: 30px;
}
.menu__order {
  padding: 15px 40px;
  margin-bottom: 40px;
}

footer {
  padding: 40px 40px;
  background-color: #333333;
  color: #fff;
}
@media screen and (min-width: 702px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
}
footer h4 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-family: "Shrikhand";
  font-weight: 200;
}
@media screen and (min-width: 702px) {
  footer ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  footer ul {
    width: 80%;
  }
}
footer ul li {
  margin: 10px 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #9356dc;
}
footer .fa-utensils {
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
