.heart {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  /*left: 280px;*/
  right: 15px;
  bottom: 20px;
  @include desktop{
    right: -10px;
  }
  & .far {
    font-size: 1.7rem;
  }
  @include heart;
}
