/*-----Style sur le bloc localisation------*/
.location {
  height: 50px;
  background-color: $location-color;
  @include centering-elt;
  border-top: 4px solid #dadada;
  & input {
    background-color: $location-color;
    border: none;
    text-align: center;
    font-size: 1rem;
    &:focus {
      outline: none;
      border: 2px solid $primary-color;
      height: 30px;
      border-radius: 10px;
      &::placeholder {
        opacity: 0;
      }
    }
    &::placeholder {
      color: $color-black;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  }
}

/*-----Style sur le bloc presentation------*/
.presentation {
  padding: 25px 0;
  @include centering-elt;
  flex-direction: column;
  background-color: $bcg-color;
  & h1 {
    width: 80%;
    margin: 5px 0;
    text-align: center;
  }
  & p {
    width: 80%;
    margin: 5px 0;
    text-align: center;
    font-size: 1.06rem;
  }
}

/*-----Style sur le bloc fonctionnement------*/
.operation-box {
  padding: 30px 0;
  & h2 {
    margin: 20px 0;
    padding-left: 25px;
  }
  & .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__step {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 80%;
      position: relative;
      & span {
        padding: 5px 10px;
        border-radius: 100%;
        background-color: $primary-color;
        position: absolute;
        top: 35px;
        left: -10px;
        z-index: 1;
      }
    }
    &--name {
      background-color: $bcg-color;
      width: 100%;
      height: 80px;
      margin: 10px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 20px;
      font-weight: bold;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      & .fas {
        font-size: 1.3rem;
      }
      & .fa-store {
        color: $primary-color;
      }
    }
  }
}

/*-----Style sur le bloc restaurant------*/

#restaurant-box {
    background-color: $bcg-color;
    padding: 20px 15px;  
    & .restaurant {
    margin: 20px 0;
    height: 250px;
    width: auto;
    background-color: $color-white;
    -webkit-box-shadow: 0px 0px 3px 1px $color-white;
    box-shadow: 0px 0px 3px 1px $color-white;
    border-radius: 20px;
    position: relative;
    & figure {
      margin: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      position: relative; 
      & figcaption {
        height: 30%;
        padding-right: 20px;
        padding-left: 20px;
        & h4 {
          margin-top: 15px;
          margin-bottom: 5px;
        }  
      }    
      &:hover {
        transform: scale(1);
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 0px 0px 3px 1px $color-white;
        box-shadow: 0px 0px 4px 3px $tertiary-color;
      }
    }
    &__img{
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: center -50px;
        &--position{
            width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: center -155px;
        }
    }
    &__new{
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 8px;
        background-color: $tertiary-color;
        font-weight: bold;
        color: #2c9c81;
        font-size: 0.8rem;
    }    
  }
}
