/*-----Style sur le bloc localisation------*/
.location {
  height: 50px;
  background-color: $location-color;
  @include centering-elt;
  border-top: 4px solid #dadada;
  & input {
    background-color: $location-color;
    border: none;
    text-align: center;
    font-size: 1rem;
    &:focus {
      outline: none;
      border: 2px solid $primary-color;
      height: 30px;
      border-radius: 10px;
      &::placeholder {
        opacity: 0;
      }
    }
    &::placeholder {
      color: $color-black;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  }
}

/*-----Style sur le bloc presentation------*/
.presentation {
  padding: 25px 0;
  @include centering-elt;
  flex-direction: column;
  background-color: $bcg-color;
  & h1 {
    width: 80%;
    margin: 5px 0;
    text-align: center;
  }
  & p {
    width: 80%;
    margin: 5px 0;
    text-align: center;
    font-size: 1.06rem;
  }
}

/*-----Style sur le bloc fonctionnement------*/
.operation-box {
  padding: 30px 0;
  & h2 {
    margin: 20px 0;
    padding-left: 25px;
  }
  & .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }
    &__step {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      width: 100%;
      height: 75px;
      margin: 10px 0;  
      border-radius: 25px;
      position: relative;
      background-color: $bcg-color;
      -webkit-box-shadow: 0px 4px 4px 1px #00000045; 
      box-shadow: 0px 4px 4px 1px #00000045;     
      &:hover{
        background-color: #fbf3f9;
      }
      &:hover > .fas{
        color: $primary-color;
      }
      @include tablet{
        width: 70%;
        height: 60px;
        border-radius: 20px;
      }
      @include desktop {
        width: 25%;
        height: 50px;
        
      }
      & span {
        padding: 5px 10px;
        border-radius: 100%;        
        color: $color-white;
        background-color: $primary-color;
        position: absolute;
        left: -12px;
        z-index: 2;
      }
      .fas{
        color: #333333ad;
        @include desktop {
          width: 15%;
          text-align: center;
        }
      }
      & p{
        width: 70%;
        text-align: center;
        @include desktop {
          width: 65%;
        }
      }  
    }   
  }
}

/*-----Style sur le bloc restaurant------*/

#restaurant-box {
  background-color: $bcg-color;
  padding: 20px 15px;
  & h2{
    @include tablet{
      margin-bottom: 15px;
    }
  }
  & .restaurant-list {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  & .restaurant {
    margin: 20px 0;
    height: 250px;
    width: auto;
    background-color: $color-white;
    -webkit-box-shadow: 0px 0px 3px 1px $color-white;
    box-shadow: 0px 0px 3px 1px $color-white;
    border-radius: 20px;
    position: relative;
    @include tablet {
      width: 47%;
      margin: 15px 0;
    }
    @include desktop{
      width: 23.5%;
      height: 220px;
    }
    & figure {
      margin: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      position: relative;
      & figcaption {        
        padding-right: 20px;
        padding-left: 20px;
        & h4 {
          margin-top: 15px;
          margin-bottom: 5px;
        }
      }
      &:hover {
        transform: scale(1);
        transition: 0.3s ease-in-out;
        -webkit-box-shadow: 0px 0px 3px 1px $color-white;
        box-shadow: 0px 0px 4px 3px $tertiary-color;
      }
    }
    &__img {
      width: 100%;
      height: 70%;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      object-position: center -50px;
      @include tablet{
        object-position: initial;
      }
      &--position {
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        object-position: center -155px;
        @include tablet{
          object-position: center -130px;
        }
      }
    }
    &__new {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 8px;
      background-color: $tertiary-color;
      font-weight: bold;
      color: #2c9c81;
      font-size: 0.8rem;
    }
  }
}
