@mixin centering-elt {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin origin-position {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin btn {
  margin: 20px 0;
  padding: 15px 20px;
  color: $color-white;
  background: linear-gradient(0deg, $primary-color, $secondary-color);
  border-radius: 30px;
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: 30px;
    @include origin-position;
    background: linear-gradient(
      lighten($primary-color, 25%),
      darken($secondary-color, 0%)
    );
    opacity: 0;
    z-index: -1;
    box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 30%);
    transition: opacity 250ms;
  }
}

@mixin heart {
  &__visible {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &:hover + .heart__invisible {
      animation: heart-full 0.5s linear both;
      display: inline-block;
      cursor: pointer;
      background: linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: bold;
      background-repeat: no-repeat;
    }
    &:active + .heart__invisible {
      animation: heart-full 0.5s linear both;
      display: inline-block;
      cursor: pointer;
      background: linear-gradient($primary-color, $secondary-color);
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      background-image: linear-gradient(
        15deg,
        $secondary-color,
        $primary-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__invisible {
    position: relative;
    color: #0000;
    top: 0;
    right: 0;
    bottom: 0;
    left: -27px;
    /*left: -32px;*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transform-origin: 50% bottom;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.43, 0.21, 1, 0.45);
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($responsive, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($responsive, desktop)) {
    @content;
  }
}
